#gameboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    background: #333;
    padding: 5px;
    border-radius: 10px;
    margin: 20px auto;
    width: 420px;
    height: 360px;
    cursor: pointer;
}

.column-hover {
    background: navy !important;
    /*margin: 5px !important;*/
    /* border-color: navy ! important;*/
}

.cell {
    background: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.red { background: red; }
.cell.red-sample { background: rgba(255, 60, 60, 0.3); }
.cell.yellow { background: yellow; }
.cell.yellow-sample { background: rgba(255, 255, 60, 0.3); }