body, html {
	margin: 0;
	font-family: sans-serif;
	background-color: rgb(55, 55, 55);
  color: white;
}

.content {
	margin:0 auto;
	width: 80%;
}

.chat-list {
  color:black;
  resize: none;
  width: 80vw;
  height: 60vh;
  overflow-y: auto;
  border: 1px;
  padding: 10px;
}

.form {
	margin-top: 20px;
}

.content {
	width: 70%;
}

.muted-text {
  color: grey;
  font-size: 0.7rem;
}

.muted-text-white {
  color: white;
  font-size: 0.7rem;
}

.member-activity {
  text-align: center;
  margin: 5px 0;
  color: grey;
}

.message-item {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  max-width: 500px;
  margin: 5px 0;
}

.self-message-item {
  margin-left: auto;
  margin-right: 0;
  border-bottom-right-radius: 0;
}

.peer-message-item {
  background-color: rgb(0, 100, 140);
  color: white;
  border-bottom-left-radius: 0;
}

.user-text {
  color: rgb(13, 150, 255);
}

.peer-text {
  color: rgb(255, 144, 40);
}
