body, html {
	margin: 0px;
	font-family: sans-serif;
	background-color: rgb(55, 55, 55);
  color: white;
}

/*.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

.topbar {
  height: 30px;
  background-color: darkgray;
  display: flex;
  flex-direction: row-reverse;
  padding: 3px;
}

.login-overlay {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3);
  z-index:999;
}

.login-popup
{
  display:none;
  position:fixed;
  right: 0;
  background-color:black;
  padding:10px;
  border:1px solid #ccc;
  z-index:1000;
}

.register-box {
  margin-left: 40vw;
}

.register-box * {
  margin: 5px;
  font-size: 25px;
}

.room-button {
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.room-button:hover {
  color: black;
  border-color: black;
  background-color: gray;
}

.chat-container {
  display: flex;
  flex-direction: row;
	padding: 10px;
  margin: 10px;
}

.chat-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  padding: 5px;
  margin: 2px;
  border-width: 2px;
  border-radius: 10px;
  border-color: blue;
}

.chat-list {
  display: none;
  color:black;
  resize: none;
  width: 80vw;
  height: 60vh;
  overflow-y: auto;
  border: 1px;
  padding: 10px;
}

.user-list div {
  padding: 5px;
  margin: 5px;
  background-color: green;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

.muted-text {
  color: grey;
  font-size: 0.7rem;
}

.muted-text-white {
  color: white;
  font-size: 0.7rem;
}

.member-activity {
  text-align: center;
  margin: 5px 0;
  color: grey;
}

.message-item {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  max-width: 500px;
  margin: 5px 0;
}

.self-message-item {
  margin-left: auto;
  margin-right: 0;
  color: black;
  border-bottom-right-radius: 0;
}

.peer-message-item {
  background-color: hsl(200, 70%, 20%);
  color: white;
  border-bottom-left-radius: 0;
}

.edit-button {
  font-size: 0.5em;
  align-self: center;
  margin-left: auto;
}

.hidden {
  display: none;
}