body, html {
	margin: 0px;
	font-family: sans-serif;
	background-color: rgb(55, 55, 55);
  color: white;
}

.content {
	margin:0 auto;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centered {
  text-align: center;
}

.topbar {
  height: 24px;
  background-color: darkgray;
  display: flex;
  flex-direction: row-reverse;
  padding: 3px;
}

.login-overlay {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3);
  z-index:999;
}

.login-popup
{
  display:none;
  position:fixed;
  right: 0;
  background-color:black;
  padding:10px;
  border:1px solid #ccc;
  z-index:1000;
}

.register-box * {
  margin: 5px;
}

.room-button {
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  color: white;
  font-size: 15px;
}
.room-button:hover {
  border-color: black;
  background-color: gray;
}

.chat-list {
  display: none;
  color:black;
  resize: none;
  width: 80vw;
  height: 60vh;
  overflow-y: auto;
  border: 1px;
  padding: 10px;
}

.form {
	margin-top: 20px;
}

.content {
	width: 70%;
}

.muted-text {
  color: grey;
  font-size: 0.7rem;
}

.muted-text-white {
  color: white;
  font-size: 0.7rem;
}

.member-activity {
  text-align: center;
  margin: 5px 0;
  color: grey;
}

.message-item {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  max-width: 500px;
  margin: 5px 0;
}

.self-message-item {
  margin-left: auto;
  margin-right: 0;
  border-bottom-right-radius: 0;
}

.peer-message-item {
  background-color: rgb(0, 100, 140);
  color: white;
  border-bottom-left-radius: 0;
}

.user-text {
  color: rgb(13, 150, 255);
}

.peer-text {
  color: rgb(255, 144, 40);
}
