#gamecontainer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

#gamefield {
    position: relative;
    background: #333;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 60vh;
}

#wordfield {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 5px;
    margin-left: 10px;
    width: 60%;
}

.score {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    text-align: center;
}

.word {
    position: absolute;
    font-size: 25px;
}

.word.enemy {
    color: rgb(200, 0, 0);
}

.highlight {
    color: rgb(0, 200, 0);
    text-shadow: 0 0 20px rgb(0, 100, 0);
}