#gamecontainer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

#gamefield {
    /*grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(45, 1fr);*/
    position: relative;
    background: #333;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 60vh;
}

.wordfield {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 5px;
    margin-left: 10px;
    width: 60%;
}

.word {
    position: absolute;
}