<!DOCTYPE html>
<html language="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale< 1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<div class="topbar" id="topbar">
		<div style="width: 10px;"></div>
		{% block topbar %}{% endblock %}
	</div>
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
	<!--script src="https://code.jquery.com/jquery-3.7.1.min.js"></script-->
</body>
</html>