{% extends 'base.html' %}

{% block head %}
<title>Community chatroom</title>
<script type="text/javascript">
const uname = '{{user}}';
const utype = '{{usertype}}';
var cd = {{cooldown}}
var room = '{{room}}';
var init_chat = {{ chats | tojson }};
var online_users = {{ online | tojson }};
</script>
<script src="{{ url_for('static', filename='js/chat_handler.js') }}"></script>
{% endblock %}

{% block body %}
<h1 id="chattitle" style="text-align: center">Main Hub</h1>
<div class="chat-container">
	<div class="chat-section" style="width: 20%;">
		<button class="room-button" id="btn-general" onclick="changeRoom('general')">General Room</button><br><br>
		{% if usertype == 'registered' %}
		<button class="room-button" id="btn-weebchat" onclick="changeRoom('weebchat')">Anime | Manga | Manhwa etc.</button>
		<button class="room-button" id="btn-music" onclick="changeRoom('music')">Music</button>
		<button class="room-button" id="btn-politics" onclick="changeRoom('politics')">Politics (be nice)</button>
		{% endif %}
	</div>
	<div class="chat-section">
		<div class="chat-list" id="general"></div>
		<div class="chat-list" id="weebchat"></div>
		<div class="chat-list" id="music"></div>
		<div class="chat-list" id="politics"></div>
		<div id="userchatbox" style="display:flex; flex-direction:row; padding: 10px;">
			<input class="chat-txtbox" type="text" placeholder="Enter message.." id="userchat" name="userchat" />
			<button type="submit" class="chat-sendbutton" id="send-btn" onclick="sendMessage()">Send</button>
		</div>
	</div>
	<div class="chat-section" style="width: 20%;">
		<div style="text-align: center; font-weight: bold;">Online Users</div>
		<div id ="user-list" class="user-list"></div>
	</div>
</div>
<script src="{{ url_for('static', filename='js/login_handler.js') }}"></script>
{% endblock %}