{% extends 'base.html' %}

{% block head %}
<title>Communication Hub</title>
<script type="text/javascript">
const uname = "{{user}}";
var room = "{{room}}";
var init_chat = {{ chats | tojson }};
</script>
<script src="{{ url_for('static', filename='js/chat_handler.js') }}"></script>
{% endblock %}

{% block body %}
<div style="display: flex; flex-direction: row; padding: 10px; margin: 10px;">
	<button onclick="changeRoom('general')">General Room</button><br><br>
	{% if usertype == 'registered' %}
	<button onclick="changeRoom('weebchat')">Weeb Chat</button>
	{% endif %}
</div>
<h1 style="text-align: center">Main Hub</h1>
<div class="content">
	<div class="chat-list" id="general">
	</div>
	<div class="chat-list" id="weebchat">
	</div>
	<div id="userchatbox">
		<input type="text" placeholder="Enter message.." id="userchat" name="userchat" />
		<button type="submit" id="send-btn" onclick="sendMessage()">Send</button>
	</div>
</div>
<script src="{{ url_for('static', filename='js/login_handler.js') }}"></script>
{% endblock %}