{% extends 'base.html' %}

{% block topbar %}
<button style="display:flex; align-items:center;" onclick="quit_game()"><i class="fas fa-close" style="font-size:16px; color:red;"></i>Quit Game</button>
{% endblock %}

{% block head %}
<title>Connect 4</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/connect4.css') }}">
<script>
const uname = "{{ user }}";
const my_color = {{ mycolor | tojson }} === 1 ? 'yellow' : 'red';
var my_turn = {{ myturn | tojson }};
var board = {{ board | tojson }};
</script>
<script src="{{ url_for('static', filename='js/_game_methods.js') }}"></script>
<script src="{{ url_for('static', filename='js/_ui_methods.js') }}"></script>
<script src="{{ url_for('static', filename='js/connect4.js') }}"></script>
{% endblock %}

{% block body %}
<h1 style="text-align: center;">Welcome, {{ user }}, let's play Connect4!</h1>
<div style="display:flex; justify-content:center;">
	<div id="your_turn" class="hidden"><h2>Your turn</h2></div>
	<div id="opp_turn" class="hidden"><h2>Opponent's turn</h2></div>
</div>
<div id="gameboard"></div>
<div style="text-align: center;"><button class="hidden" style="font-size: 20px;" id="goback" onclick="window.location.href='/room'">Return to Room</button></div>
{% endblock %}