{% extends 'base.html' %}

{% block head %}
<title>Community Hub</title>
{% endblock %}

{% block body %}
<div>
	<div style="display:flex; flex-direction:column; align-items:center;">
		<h1>Welcome, {{ user }}</h1>
		<h3>Guest Activities</h1>
		<ul>
			<li>Chat in general room with 30s cooldown (register for lower cooldown & more rooms).</li>
			<li>Invite other players to play 2-player games (two available : Connect4 & Typ Wars).</li>
			<li>Play Typ Wars in Singleplayer mode.</li>
			<li><b>Note:</b> Site was developed for Desktop environment, there may be minor QoL issues when playing games on mobile.</li>
		</ul>
		<h3>Connect4</h3>
		<ul>
			<li>Turn-based color matching game.</li>
			<li>Drop your coin color from top alternatively (hint will be shown on hover/touch-hold).</li>
			<li>First player to form 4 coins of their color - either in a horizontal/vertical line or diagonally - wins.</li>
		</ul>
		<h3>Typ Wars</h3>
		<ul>
			<li>Real-time speed-typing game.</li>
			<li>Words will drop from top periodically, type them in the bottom text box & press Enter to clear them.</li>
			<li>10 points for each word cleared.</li>
			<li>If you've partially typed a word, it will be highlighted until where you have typed.</li>
			<li>Words reaching the bottom of your game screen loses you one life.</li>
			<li>If you lose all 3 lives, the game ends.</li>
			<h4 style="text-align:center;">2-player mode specific rules</h4>
			<li>Clearing existing words gives you only 2 points instead of the regular 10.</li>
			<li>To get the regular 10 points, you should send dictionary words to your opponent using the bottom text box.</li>
			<li>Losing a life also loses you 100 score.</li>
			<li>The player to lose all their lives first loses the game, even if they have higher score.</li>
		</ul>
		<div style="display:flex; justify-content:center;"><button name="room-btn" onclick="window.location.href='/room'">Enter room</button>
		<button name="typwars-sp-btn" style="margin-left:10px;" onclick="window.location.href='/game/typwars_sp'">Play Typ Wars</button></div>
		<br><br>
	</div>
</div>
{% endblock %}