{% extends 'base.html' %}

{% block head %}
<title>Registration</title>
{% endblock %}

{% block body %}
<div>
	<h1 style="margin-left: 38.5vw;">Register an account!</h1>
	<form method="POST" id="registrar" class="register-box" onsubmit="return checkRegisterData()">
		<div>{{ regform.csrf_token }}</div>
		<div>{{ regform.username }}
		<span>
			<span id="user_load" class="hidden"><i class="fas fa-spinner fa-spin"></i></span>
			<span id="user_yes" class="hidden"><i class="fas fa-check" style="color:green"></i>Username is available!</span>
			<span id="user_no" class="hidden"><i class="fas fa-times" style="color:red"></i>Username is already in use!</span>
			<span id="user_guest" class="hidden"><i class="fas fa-times" style="color:red"></i>Cannot use 'guest-' usernames!</span>
		</span>
		</div>
		<div>
		{{ regform.password }}<i id="pass-eye" class="fas fw fa-eye-slash"></i>
		</div>
		<div>{{ regform.password2 }}
		<span>
			<span id="pass2_yes" class="hidden"><i class="fas fa-check" style="color:green"></i>Passwords match!</span>
			<span id="pass2_short" class="hidden"><i class="fas fa-times" style="color:red"></i>Password is too short!</span>
			<span id="pass2_no" class="hidden"><i class="fas fa-times" style="color:red"></i>Passwords do not match!</span>
		</span>
		</div>
		{% if regform.errors %}
			<div id="rerrors">
			{% for field, errors in regform.errors.items() %}
				{% for error in errors %}
					<span style="color: red;">{{ error }}</span><br>
				{% endfor %}
			{% endfor %}
			</div>
		{% endif %}
		<div style="margin-left: 16vw;">{{ regform.reg_submit }}</div>
	</form>
</div>
<script src="{{ url_for('static', filename='js/register_handler.js') }}"></script>
{% endblock %}