{% extends 'base.html' %}

{% block topbar %}
<button style="display:flex; align-items:center;" onclick="quit_game()"><i class="fas fa-close" style="font-size:16px; color:red;"></i>Quit Game</button>
{% endblock %}

{% block head %}
<title>Typ Wars</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/typwars.css') }}">
<script>
const uname = "{{ user }}";
const field = {{ field | tojson }};
</script>
<script src="{{ url_for('static', filename='js/_game_methods.js') }}"></script>
<script src="{{ url_for('static', filename='js/_ui_methods.js') }}"></script>
<script src="{{ url_for('static', filename='js/typwars.js') }}"></script>
{% endblock %}

{% block body %}
<h1 style="text-align: center;">Welcome, {{ user }}, let's play Typ Wars!</h1>
<h3 class="score">
    <div>Your score<div id="your_score">0</div></div>
    <div>Your Lives<div id="your_lives">3</div></div>
    <div style="margin-left:100px;">Opponent score<div id="opp_score">0</div></div>
    <div>Opponent Lives<div id="opp_lives">3</div></div>
</h3>
<div id="gamecontainer">
    <div id="gamefield"></div>
    <input id="wordfield" placeholder="Enter word here..."/>
</div>
<div style="text-align: center;"><button class="hidden" style="font-size: 20px;" id="goback" onclick="window.location.href='/room'">Return to Room</button></div>
{% endblock %}